<div class="face-snap-card" [ngClass]="{ snapped: addSnap === false }">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p>{{ faceSnap.description }}</p>
    <button (click)="onViewFaceSnap()">Visualiser</button>
</div>