<div class="landing-block">
    <img src="assets/snapface.png" alt="Snapface logo">
    <div class="landing-links">
        <button (click)="onClick()">Continuer vers Snapface</button>
        <!--<a routerLink="facesnaps">Continuer vers Snapface</a>-->
    </div>
    <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
        <label for="emailInput">Inscrivez-vous pour recevoir notre newsletter !</label>
        <input id="emailInput" name="userEmail" type="email" [(ngModel)]="userEmail">
        <button type="submit">OK!</button>
    </form>
</div>