<div class="face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ 'snapped': addSnap == false }">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <a routerLink="/facesnaps">Retour</a>
    <p>Mis en ligne le {{ faceSnap.createdDate | date: 'dd MMMM yyyy, à HH:mm' }}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onSnapClick(faceSnap.id)">{{ buttonText }}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">{{ faceSnap.snaps }}</span>
    </p>
</div>